@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewData["Title"] = "Email Confirmation";
}

<div class="login-form">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-12">
                <h3>Email Confirmed, click <a asp-action="Index" asp-controller="Home" class="nav-link">here</a> to Login</h3>

            </div>
        </div>
    </div>
</div>
