<div class="row">
    <div class="container-fluid  p-2">
        @*<div class="col-md-12">*@
        <div class=" col-lg-6 m-auto">
            <div class="text-center">
                <h3>User account not found, click <a asp-action="UserRegistration" class="nav-link">here</a> to Register</h3>
            </div>
        </div>
    </div>
</div>